body{
  background-color: #292929;
}

header div nav {
  background-color: #292929;
  height: 80px;
  width: 100%;
  position: fixed;
}

header div nav .checkbtn {
  width: 30px;
  height: 30px;
  border-radius: 2px;

}
.menu-icon img{
  width: 35px;
  height: 30px;
  border-radius: 2px;
}
.menu-icon, #check{
  display: none;
}

header div nav .checkbtn, #check {
  display: no;
}

header div nav .logo {
  color: white;
  font-size: 35px;
  line-height: 90px;
  padding: 0 70px;
  font-weight: bold;
}



header div nav ul {
  float: right;
  margin-right: 20px;
}

header div nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

header div nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

header div nav ul li a.active, header div nav ul li a:hover {
  background-color: grey;
  transition: .5s;
}


* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

@media screen and (max-width:1000px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #292929;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li{
    display: block;
    width: 100%;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background-color: none;
    color: rgb(255, 51, 0);
  }
  #check:checked ~ ul{
    left: 0;
  }
  .menu-icon{
    display: block;
    position: fixed;
    top: 30px;
    right: 20px;
  }
  .slider-frame{
    display: none;
  }
}
section{
  background: url(../imagenes/27766.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}
.inicio{
  width: 100%;
  box-sizing: border-box;
}
.texto{
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 50px;
  color: white;
  padding-top: 10rem;
}
.somoscaja{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 25px;
  color: white;
  padding-top: 10rem;
}
.sesion{
  margin-left: auto;
  margin-right: auto;
}
.mensaje{
  width: 60%;
  background-color: #292929;
  padding: 40px;
  font-size: 20px;
}
.dejanos{
  display: flex;
  justify-content: center;
}
.sesion{
  color: white;
  text-align: center;
  padding: 30px;
  padding-top: 10rem;
}
.login{
  background-color: #292929;
  padding: 3rem;
  font-size: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.logina{
  padding-top: 10rem;

}
.register{
  width: 60%;
  background-color: #292929;
  padding: 40px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}


.container{
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  "headergrid"
  "iniciogrid"
  "footergrid";
}
.header{
  grid-area: headergrid;
}
.iniciogrid{
  grid-area: iniciogrid;
}
.footergrid{
  grid-area: footergrid;
  text-align: center;
  color: white;
  bottom: 0;
  margin-top: auto;
}

footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.icon {
  position: relative;
  margin: 40px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: all .8s;
  cursor: pointer;
}

.icon:hover {
  background-color: #e60073;
  box-shadow:  0 0 20px #e60073 ;
}


.icon:hover:nth-child(2) {
  background-color: #25d366;
  box-shadow: 0 0 20px #25d366 ;
}


.icon i {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 1.7rem;
}

svg circle {
  stroke-dasharray: 150;
  transition: all .8s ease-in-out;
}

.icon:hover circle {
  stroke-dasharray: 220;
}
main{
  padding-top: 80px;
  padding: 2px;
  box-sizing: border-box;
}

.slider-frame {
	width: 30%;
  height: auto;
	margin: 50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
  object-fit: cover;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
/*# sourceMappingURL=estilo.css.map */