header{
    div{
        nav{
            background-color: $g;
            height: 80px;
            width: 100%;
            .checkbtn{
                font-size: 30px;
                color: $b;
                float: right;
                line-height: 80px;
                margin-right: 40px;
                cursor: pointer;
                display:none;
            }
            .logo{
                color: $b;
                font-size: 35px;
                line-height: 80px;
                padding: 0 100px;
                font-weight: bold;
                
            }
            ul{
                float: right;
                margin-right: 20px;
                li{
                    display: inline-block;
                    line-height: 80px;
                    margin: 0 5px;
                    a{
                        color: $b;
                        font-size: 17px;
                        padding: 7px 13px;
                        border-radius: 3px;
                        text-transform: uppercase;
                    }
                    a.active,a:hover{
                        background-color: grey;
                        transition: .5s;
                    }
                }
            }
        }
    }